body {
  background: #033e06;
  color: #333;
  font-family: Courier New, monospace;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  line-height: 1.6;
}

h1, h2 {
  color: #006633;
  text-transform: uppercase;
}

h2::before {
  content: "> ";
}

section {
  background: #c9dacd;       
  border: 2px solid #006633;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

p, li {
  color: #000000;              
}

code {
  background: #b4b4b457;
  color: #006633;
  padding: 2px 6px;
  border-radius: 4px;
}

pre {
  background: #022b05;
  color: #006633;
  padding: 12px;
  overflow-x: auto;
  border-left: 4px solid #006633;
}

a {
  color: #0088cc;
}